@layer base {
    html, body {
        overscroll-behavior: none;
    }

    @font-face {
        font-family: 'Nohemi';
        src: url('../../fonts/Nohemi-VF.woff2') format('woff2');
        font-weight: 100 900;
        font-stretch: 75% 125%;
    }

}
