@layer components {

    .primary__header {
        @apply relative container px-0 border-b border-x border-mercury-200 flex items-center justify-between;


        .header__navigation {
            @apply bg-white;

            .hamburger {
                @apply bg-mercury-100
                block lg:hidden
                aspect-square h-auto w-14 shrink-0 p-4 border-l border-mercury-200 relative
                cursor-pointer;

                span:nth-child(1) {
                    @apply absolute top-2/5 left-1/2 -translate-x-1/2 -translate-y-1/2
                    duration-300
                    w-6 h-0.5 bg-black;
                }

                span:nth-child(2) {
                    @apply absolute top-3/5 left-1/2 -translate-x-1/2 -translate-y-1/2
                    duration-300
                    w-6 h-0.5 bg-black;
                }

            }

            &.open {
                .hamburger {
                    span:nth-child(1) {
                        @apply -rotate-225 top-1/2
                    }

                    span:nth-child(2) {
                        @apply -rotate-135 top-1/2
                    }
                }

                .primary__navigation {
                    @apply block lg:flex bg-white z-10
                }
            }

            &:not(.open) {
                .primary__navigation {
                    @apply hidden lg:flex
                }
            }


            .primary__navigation {
                @apply absolute bg-white lg:static lg:items-center lg:justify-end
                left-0 w-full lg:left-auto lg:w-auto p-6 lg:p-0 border-b border-b-mercury-200 lg:border-b-0;

                > li {
                    @apply lg:px-4 py-2 lg:py-6 relative duration-300;

                    &.mouse__in__nav:not(.focus__item):not(.call__to__action) {
                        @apply opacity-50;
                    }


                    > div > a {
                        @apply flex items-center;
                    }

                    a {
                        svg {
                            @apply size-3 lg:size-4 stroke-[1.5] duration-200;
                        }

                        span {
                            @apply uppercase text-xs lg:text-sm duration-300 text-nowrap;
                        }
                    }

                    &.call__to__action {
                        @apply bg-black text-white font-semibold px-6 inline-flex lg:flex last:mt-4 lg:last:mt-0;

                        a {
                            @apply flex-row-reverse gap-2;

                            svg {
                                @apply stroke-2;
                            }
                        }

                        :hover {
                            svg {
                                @apply -rotate-45
                            }

                        }
                    }

                    &:not(.call__to__action) {


                        &:not(.has__subitems) {
                            > div {
                                @apply overflow-hidden;

                                a {
                                    svg {
                                        @apply -translate-x-4
                                    }

                                    span {
                                        @apply -translate-x-3 lg:-translate-x-2;
                                    }

                                }
                            }
                        }

                        &:hover {
                            &:not(.has__subitems) {
                                > div a {
                                    svg {
                                        @apply translate-x-0;
                                    }

                                    span {
                                        @apply translate-x-1 lg:translate-x-0
                                    }
                                }
                            }
                        }

                        &.has__subitems {
                            a {
                                @apply flex-row-reverse gap-2 justify-end ;

                                svg {
                                    @apply rotate-90 duration-300;
                                }

                                &:hover {
                                    svg {
                                        @apply -rotate-90
                                    }
                                }
                            }
                        }
                    }

                    .navigation__submenu {
                        @apply lg:absolute lg:top-full lg:right-1/2
                        lg:translate-x-1/2 lg:px-4 lg:border
                        lg:border-mercury-200 bg-white lg:min-w-full
                        overflow-hidden transition-all duration-200 ease-in-out;

                        &:not(.is__visible) {
                            @apply max-h-0 lg:max-h-none py-0
                            lg:invisible lg:opacity-0 lg:-translate-y-3;
                        }

                        &.is__visible {
                            @apply max-h-96 lg:max-h-none py-4
                            lg:visible lg:opacity-100 lg:translate-y-0;
                        }

                    }
                }
            }
        }
    }
}

